body {
	font-family: Courier New;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.row {
	width: 100%;
}

.toptitlepage {
	color: darkslateblue;
	text-align: center;
	margin-bottom: 30px;
}

.container {
	position: relative;
	top: 60px;
	margin: 15px;
}


.menuitem {
	position: relative;
	top: 0;
	background-color: gray;
	margin: 15px;
	padding: 25px;
	border: 3px solid green;
}

.menuitem p {
	margin-top: 18px;
	text-align: justify;
	font-size: 100%;
}


.menuitemcategory {
	position: absolute;
	top: 0;
	right: 0px;
	background: #06484f;
	padding: 6px 90px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;

}



#Item1TitleName {
	background-color: darkmagenta;
}

#Item2TitleName {
	background-color: floralwhite;
}

#Item3TitleName {
	background-color: GoldenRod;
}